@media screen and (max-width: 480px) {  
    .principal, .conteudo-beneficios, .mapa-conteudo, .video, .container{
        width: auto;
    }
    .principal{
        padding-left: 2px;
        padding-right: 2px;
    }
    .cabecalho{
        display: block;
        padding: 10px;
    }
    h1{
        text-align: center;
    }
    nav{
        
        position: static;
    }
    nav li{
        margin: 2px;
    }
    .lista-beneficios, .imagem-beneficios{
        width: 90%;
        margin-left: 15px;
    }
    .video, .mapa-conteudo{
        margin-left: 20px;
        
    }
    .produtos{
        width: auto;
    }
    .produtos li{
        display: block;
        width: 70%;
        margin: 1.5rem 1.9rem;
    }

    label{
        margin-left: 2.5rem;
    }
    .input-padrao{
        width: 60%;
        margin-inline: auto;
    }
    legend{
        margin-left: 10px;
    }
    select{
        margin-left: 5px;
    }

    .checkbox{
        margin-left: 10px; 
    }
    .enviar{
        margin-left: 7rem;
    }
    table{
        margin-left: 10px;
    }
}