
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}
nav li{
    display: inline;
    margin: 15px;
}

nav a {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}