
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
}
nav li{
    display: inline;
    margin: 15px;
}

nav a {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    padding: 50px 0;
    margin-inline: auto;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.produtos li:hover{
    cursor: pointer;
    border-color: #C78C19;
}
.produtos li:active{
    border-color: #088C19;
}
.produtos li:hover h2{
    font-size: 33px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.protudo-descricao{
    font-size: 18px;
}
.protudo-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background-image: url(./images/bg.jpg);
    padding: 40px 0;
}

footer .copyright{
    font-size: 13px;
    margin: 20px 0 0;
    color: white;
}

.container{
    width: 940px;
    margin-inline: auto;
}

form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
fieldset{
    border: none;
}
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    font-weight: bold;
    font-size: 18px;
    width: 40%;
    padding: 15px 0;

    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    transition: 1s all;
}

.enviar:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: darkorange;
}

table{
    margin: 20px 0 40px;
}

thead{
    font-weight: bold;
    background-color: #555;
    color: white;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px ;
}