
.banner{
    width: 100%;
}

.titulo-principal{
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear: left;
}
main{
    width: 940px;
    margin-inline: auto;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.banner-beneficios{
    width: 60%;
}